<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UrosServlet</servlet-name>
        <servlet-class>com.bamboocloud.uros.server.UrosServlet</servlet-class>
        <init-param>
            <param-name>class</param-name>
            <param-value>test.http.server.PojoB|test.http.server.PojoA|b,test.http.server.PojoA||a</param-value>
        </init-param>
        <init-param>
            <param-name>mode</param-name>
            <param-value>propertyMode</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>test.http.server.User|User</param-value>
        </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>UrosServlet</servlet-name>
        <url-pattern>/Methods</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MyUrosServlet1</servlet-name>
        <servlet-class>test.http.server.MyUrosServlet1</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyUrosServlet1</servlet-name>
        <url-pattern>/MyUrosServlet1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MyUrosServlet2</servlet-name>
        <servlet-class>test.http.server.MyUrosServlet2</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyUrosServlet2</servlet-name>
        <url-pattern>/MyUrosServlet2</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
